body{
    background-color: black;
    color: rgb(167, 133, 39);
}

button{
    background-color: rgb(27, 27, 27);
    border-color: rgb(167, 133, 39);
    color: rgb(167, 133, 39);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-style:ridge;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    border-width: 3px;
    }

h1{
    font-style: italic;
}